<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="container">
      
      {%- include header.html -%}

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>

    </div>



    {%- include footer.html -%}

    <script src="{{ "/assets/main.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"></script>
  </body>

</html>
